/* navbar*/
a.navbar-brand{
    padding: 10px;
    background-color:lightblue;
    font-size: 15px;
    font-weight: bolder;
}

.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
    padding-left: 40px;
}

.nav-item.dropdown.show {
    background-color: #ddd;
}

.dropdown-menu {
    margin: 0;
}

/* header*/
h1{
    color: gray;
    padding: 15px;
    font-weight: bolder;
}

h3{
    color: gray;
    padding: 15px;
    font-weight: bolder;
}

/* body*/
body{
    background-color: whitesmoke;
}

.img-thumbnail{
    padding:10px;
    border: black;
}    

.row { align-items: center; 
}

/* content styling*/
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 10px;
}
